*{
	font-family: century gothic;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../Images/surface.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}	

.container{
	width: 380px;
	height: 480px;
	background-color: #000000;
	opacity: 85%;
	color: #fff;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

.png{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin-left: 40px;
}

.container input[type="email"]
{
	width: 80%;
	margin: 20px;
	margin-left: 20px;
	margin-top: 40px;
	padding: 9px;
	border: none;
	border-bottom: 2.3px solid #0cf;
	color: white;
	background-color: black;
	outline: none;
	border-radius: 15px;
}

.container input[type="submit"]
{
	color: white;
	background-color: #0cf;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 7px;
	width: 30%;
	font-weight: bold;
	font-size: 15px;
	margin-left: 33%;
	margin-top: 20px;
}

.container input[type="email"]:hover
{
	box-shadow: 0 0 25px 10px #0cf;
	transition: 0.5s ease;
}

.container input[type="submit"]:hover
{
	box-shadow: 0 0 25px 10px #0cf;
	transition: 0.5s ease;
	color: #0cf;
	background-color: white;
	cursor: pointer;
}

p{
	margin-left: 19%;
	margin-top: 20%;
}



























